/zhekriken/Assembly-CSharp-Editor.csproj
/zhekriken/Assembly-CSharp-Editor-vs.csproj
/zhekriken/Assembly-CSharp-firstpass.csproj
/zhekriken/Assembly-CSharp-firstpass-vs.csproj
/zhekriken/New Unity Project.sln
/zhekriken/New Unity Project-csharp.sln
/zhekriken/Library
/zhekriken/obj
/zhekriken/Temp
/zhekriken/Build
*.sln
zhekriken/zhekriken-csharp.suo
*.csproj
